body, html {
  font-family: sans-serif;
  min-height: 100%;
  font-weight: 100;
  background: #7b4397;
  background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
  background: linear-gradient(to right, #dc2430, #7b4397);
}
.message-out {
  width: 45%;
  border-radius: 10px;
  padding: .5em;
  font-size: .8em;
  background: #608eeb;
  color: white;
  margin-left: 50%;
  margin-bottom: 12px;
}
.message-in {
  width: 45%;
  border-radius: 10px;
  padding: .5em;
  font-size: .8em;
  background: #F1F0F0;
  color: black;
  margin-left: 3%;
}
img {
  width: 82px;
  margin-bottom: 15px;
}
button.accept {
  cursor: pointer;
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  margin-top: 12px;
}
.blur {
  filter: blur(2px);
}
.fullscreen-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
}
.modal{
  position: absolute;
  top: 25%;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  left: 30%;
  &_content {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 30px 30px 30px;
  }
  &_close-btn {
    width: 30px;
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
  }
}
input{
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.main-container {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin: 24px 12px 12px;
  height: 85vh;
  min-height: 100%;

  &_title {
    font-size: 18px;
  }
}
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  &_msg {
    height: 100%;
    border-radius: 8px;
    background: white;
    //padding: 1em;
    overflow: auto;
    max-width: 350px;
    margin: 0 0 24px 0;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    min-width: 100%;
  }
  &_inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &_form {
    width: 100%;
    display: flex;
  }
  &_btn{
    margin-left: 12px;
  }
}